@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}
  html::-webkit-scrollbar {
    width: 15px;
    border-radius: 30px;
    background-color: whitesmoke;
  }
  html::-webkit-scrollbar-track {
    width: 15px;
    border-radius: 30px;
    background-color: whitesmoke;
  }
  html::-webkit-scrollbar-thumb {
    width: 15px;
    border-radius: 30px;
    background-color: rgb(252, 53, 53);
    /* background-color: rgb(0, 0, 0); */
  }

:root {
  --m-left: 25px;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

b {
  text-transform: capitalize;
}

.m-left {
  margin-left: var(--m-left);
}

hr {
  background-color: #ddd;
}
a {
  text-decoration: none;
  color: black;
}
body {
  /* width: 100vw; */
  /* height: 100vh; */
  display: grid;
  /* grid-gap: 10px; */
  grid-template-areas:
    "header header header"
    "nav main main"
    "nav footer footer";
  grid-template-rows: 70px 10fr 1fr;
  grid-template-columns: 250px auto;
  /* background-color:cyan; */
}

/* Animation of laoding red line is Start here */

#load {
  position: fixed;
  top: 0px;
  z-index: 1000;
  height: 4px;
  width: 100px;
  background-color: white;
  /* border: 2px solid blue; */
}

#load #loading {
  /* display: inline-block; */
  position: fixed;
  top: 0px;
  background-color: red;
  /* border: 1px solid black; */
  height: 3px;
  z-index: 1000;
  margin: 0;
  padding: 0;
  /* width: 5px; */
  animation-name: loading;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  /* animation-delay: 0.5s; */
  animation-iteration-count: 1;
  /* animation-iteration-count: infinite; */
  animation-direction: alternate;
  /* animation-direction:forward; */
}

@keyframes loading {
  10% {
    width: 100px;
  }
  40% {
    width: 700px;
  }
  100% {
    width: 1480px;
  }
}

/* Animation of laoding red line is end here */